<!-- <h1> this is my awward app</h1> -->
{%extends 'all-file/base.html'%}

{% block content %}
{{block.super}}
<div class="container">

    <!-- Looping through news   -->
    <div class="row">
        {% for project in projects %}

        <!-- displaying project -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            
        </div>
        <h2> {{ project.project_title}} </h2>
        <p>{{ project.description }}</p>
        <img src="{{project.image_path.url}}" value="http://127.0.0.1:8000{{project.image_path.url}}" style="width:400px; height:400px;" alt="Image">
 <!-- The link field -->
 <input type="link" value="http://127.0.0.1:8000{{project.image_path.url}}" id="{{project.id}}">

    </div>

    {%endfor%}
</div>
<script>
    function copyLink(project_title) {
      console.log("copied");
      var copyLink = document.getElementById("project.id");
      copyText.select();
      document.execCommand("copy");
      alert("Link copied to clipboard: " + copyText.value);
    }
    
  </script>
{% endblock %}